* {
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
  font-style: oblique;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline;
  font-size: 36px;
  text-align: center;
}

#heading-parent {
  background-color: burlywood;
  height: 400px;
  padding: 100px;
  max-width: 1100px;
  /* max-width 1100px er mane hocche jodi width 1100px er beshi hoy
  tahole width 1100px e nou r jodi 1100px er kom hoy tahole width 100% nou */
  margin: 50px auto;
}

.btn-parent{
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  background-color: #999;
}

.btn {
	background-color: #fff;
	padding: 8px 15px;
	border: 4px solid #222;
	border-radius: 8px;
	width: 200px;
	height: 60px;
	font-size: 18px;
	font-weight: 600;
}
